<h1 style="text-align: center;">Create </h1>
<hr />

<div class="row">
    <div class="col-12" style="text-align: center;">

        <div class="card" style="display: inline-block">

            <div class="card-header">
                <h5>Create a New Character</h5>
            </div>

            <div class="card-body" style="text-align: center;">

                <form asp-controller="Home" asp-action="CreateBerserker" method="post">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Berserker</button>
                    </div>
                </form>

                <form asp-controller="Home" asp-action="CreateSwordMan" method="post">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Sword Man</button>
                    </div>
                </form>

                <form asp-controller="Home" asp-action="CreateTank" method="post">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Tank</button>
                    </div>
                </form>

                <form asp-controller="Home" asp-action="CreateFireWizard" method="post">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Fire Wizard</button>
                    </div>
                </form>

                <form asp-controller="Home" asp-action="CreateIceWizard" method="post">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Ice Wizard</button>
                    </div>
                </form>

                <form asp-controller="Home" asp-action="CreateMage" method="post">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Mage</button>
                    </div>
                </form>

            </div>

            <div class="card-footer">
            </div>

        </div>

        @* <div class="card" style="display: inline-block">
            <div class="card-header">
            <h5>Choose Your Class</h5>
            </div>

            <div class="card-body">
            <form>
            <input type="radio" name="class" value="SwordMan"> Мечник&nbsp;
            <br />
            <input type="radio" name="class" value="Berserker"> Берсерк
            <br />
            <input type="radio" name="class" value="Tank"> Танк
            <br />
            <input type="radio" name="class" value="Mage"> Маг
            <br />
            <input type="radio" name="class" value="IceWizard"> Ледяной Маг
            <br />
            <input type="radio" name="class" value="FireWizard"> Повелитель Пламени
            </form>
            </div>

            <div class="card-footer">
            </div>
            </div>*@

    </div>
</div>
